

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

#home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  height: calc(100vh - 120px); 
}

#feed-posts {
  width: 70%;
  float: left;
  overflow: auto;
  max-height: 100%;
}

#user-friends {
  width: 30%;
  float: right;
}

#new-post-form {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

h4 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

textarea,
input[type="text"] {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

#posts-list-container ul {
  list-style-type: none;
  padding: 0;
}

#posts-list-container li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-comments {
  margin-top: 20px;
}

.post-comments form {
  margin-bottom: 10px;
}

.post-comments input[type="text"] {
  width: 80%;
}

.post-comments input[type="submit"] {
  margin-left: 10px;
  width: 20%;
}

.post-comments-list {
  margin-top: 10px;
}

.post-comments-list ul {
  list-style-type: none;
  padding: 0;
}

.post-comments-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.small-link {
  font-size: 12px;
  color: #333;
  text-decoration: none;
}

.small-link:hover {
  text-decoration: underline;
}



#user-friends {
  margin-top: 20px;
}

/* #user-friends h4 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
} */

#user-friends h4 {
  color: #b86009;
  font-size: 24px;
  /* font-weight: bold; */
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


#user-friends ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#user-friends li {
  margin-bottom: 10px;
}

#user-friends a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
}

#user-friends a:hover {
  background-color: #e0e0e0;
}

